<!-- Ton formulaire devra contenir les champs :
firstname, lastname, email, password, confirmPassword.
Il devra également contenir les champs :
street, zipCode et city, provenant du même FormGroup address.
Chacun des champs est required
Les firstname, lastname doivent avoir un minimum de 2 caractères
Le champ email doit être au format email
Les champs password et confirmPassword doivent être identique pour soumettre le formulaire
Des messages d’erreurs, si erreurs, doivent être affichés lors de la soumission du formulaire -->

<app-sign-up></app-sign-up>
